*.ana
*.autosave
*.bun
*.cen
*.ele
*.eps
*.fin
*.h-x-y
*.h?
*.hdf5
*.ipynb
*.jpg
*.local_files
*.log
*.lte
*.mag
*.mat
*.mpr
*.new
*.old
*.orb
*.out
*.par
*.pdf
*.pkl
*.pro*
*.ps
*.pyc
*.tmp
*.twi
*.txt
*_auto.py
*~
.*
figs
java.opts
java.opts
temp_processed_files
