.*
*.pkl
*.local_files
*.autosave
*_auto.py
*.mag
*.h-x-y
*.h?
*.ps
*.new
*.pdf
*.pyc
java.opts
*.cen
*.fin
*.log
*~
*.txt
*.bun
*.ana
*.mat
*.mpr
*.twi
*.tmp
*.eps
*.orb
*.out
*.par
java.opts
ButterflyEmittancePython
